@import "tailwindcss";
@import "tw-animate-css";


@theme inline {
  --color-primary: var(--primary-purple);
  --color-title: var(--text-dark);
  --color-label: var(--text-light);
  --color-accent: var(--accent-yellow);
  --color-border: var(--border-color);
  --shadow-card: var(--card-shadow);
}

:root {
  --primary-purple: #7240e8;
  --accent-yellow: #ffc400;
  --text-dark: #333;
  --text-light: #666;
  --border-color: #ddd;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Hide scrollbar by default */
.hover-scrollbar {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: transparent transparent;
}

.hover-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.hover-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hover-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px;
}

/* Show scrollbar on hover */
.hover-scrollbar:hover {
  scrollbar-color: #c1c1c1 transparent;
}

.hover-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

@utility scrollbar-hide {
  /* Hides scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Hides scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
  }
}
